.optionBarButton {
    display: flex;
    align-items: center;
    padding: 0px 1em;
    font-size: 12px;
    font-weight: lighter;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.optionBarButton.iconBtn {
    padding: 0px 9px;
}

.optionBarButton {

    &:hover {
        background-color: rgba(0,0,0,0.05);
    }

    &:active {
        background-color: rgba(0,0,0,0.1);
    }

    .iconBtn:hover {
        background-color: transparent;
    }

    .optionBarButtonIcon {
        fill: var(--icon);
    }

    &:hover .optionBarButtonIcon {
        fill: var(--iconHover);
    }

    &[data-status='active'] .optionBarButtonIcon {
        fill: var(--iconActive);
    }
}