.optionBarIconWrapper {
    display: flex;
    align-items: center;
    padding: 0px 1em;
    font-size: 12px;
    font-weight: lighter;
    color: inherit;
    background-color: transparent;
    outline: none;
}